aiosqlite==0.18.0
alembic==1.9.2
anyio==3.6.1
appnope==0.1.3
apprise==1.2.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgi-lifespan==2.0.0
asttokens==2.0.8
asyncpg==0.27.0
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
black==23.1.0
bleach==5.0.1
cachetools==5.3.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
cli-helpers==2.2.1
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
configobj==5.0.6
coolname==2.2.0
croniter==1.3.8
cryptography==39.0.0
dateparser==1.1.6
db-dtypes==1.0.5
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
docker==6.0.1
entrypoints==0.4
executing==1.0.0
fastapi==0.89.1
fastjsonschema==2.16.2
fsspec==2023.1.0
google-api-core==2.11.0
google-api-python-client==2.74.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
google-cloud-bigquery==3.4.2
google-cloud-bigquery-storage==2.18.1
google-cloud-core==2.3.2
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
greenlet==1.1.3
griffe==0.25.4
grpcio==1.51.1
grpcio-status==1.51.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.3
httplib2==0.21.0
httpx==0.23.3
hyperframe==6.0.1
idna==3.4
importlib-metadata==4.12.0
ipykernel==6.15.3
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.1
Jinja2==3.1.2
json5==0.9.10
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyter_client==7.3.5
jupyterlab==3.4.7
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupyterlab_server==2.15.1
kubernetes==25.3.0
lxml==4.9.1
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.4
mypy-extensions==0.4.3
nbclassic==0.4.3
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.6.0
nest-asyncio==1.5.5
notebook==6.4.12
notebook-shim==0.1.0
numpy==1.23.3
oauthlib==3.2.2
orjson==3.8.5
packaging==23.0
pandas==1.5.2
pandas-gbq==0.18.1
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.11.0
pendulum==2.1.2
pexpect==4.8.0
pgcli==3.5.0
pgspecial==2.0.1
pickleshare==0.7.5
platformdirs==2.6.2
prefect==2.7.7
prefect-gcp==0.2.4
prefect-sqlalchemy==0.2.2
prometheus-client==0.14.1
prompt-toolkit==3.0.31
proto-plus==1.22.2
protobuf==4.21.11
psutil==5.9.2
psycopg==3.1.2
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.4
pydata-google-auth==1.6.0
Pygments==2.14.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
python-slugify==7.0.0
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.3.2
QtPy==2.2.0
readchar==4.0.3
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.3.0
rsa==4.9
Send2Trash==1.8.0
setproctitle==1.3.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
sqlparse==0.4.3
stack-data==0.5.0
starlette==0.22.0
tabulate==0.8.10
terminado==0.15.0
text-unidecode==1.3
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tornado==6.2
traitlets==5.4.0
typer==0.7.0
typing_extensions==4.3.0
tzdata==2022.7
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.26.12
uvicorn==0.20.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
widgetsnbextension==4.0.3
zipp==3.8.1
